.designers-container {
  padding: 100px 120px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.designers-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 40px;
  max-width: 1600px;
  margin: auto;
}

.designer-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80px;
}

.designer-icon-box>img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

@media only screen and (min-width: 1920px) {
  .designer-icon-box {
    height: 120px;
  }
}